schema/FIMS-AME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by Alberto Messina (RAI - Radiotelevisione Italiana) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FIMSAMECards">
		<xs:annotation>
			<xs:documentation>Comment describing your root
      element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AMECard" type="AMECardType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AMECardType">
		<xs:sequence>
			<xs:element name="CardID" type="xs:anyURI"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Audio"/>
						<xs:enumeration value="Video"/>
						<xs:enumeration value="Text"/>
						<xs:enumeration value="Multimodal"/>
						<xs:enumeration value="File"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="draft"/>
						<xs:enumeration value="published"/>
						<xs:enumeration value="publisheable"/>
						<xs:enumeration value="finalreview"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Editor" type="xs:string"/>
			<xs:element name="Alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Definition" type="xs:string"/>
			<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Example" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Remarks" minOccurs="0"/>
			<xs:element name="Parameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Inputs">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Input" type="inputParameterType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Outputs">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Output" type="outputParameterType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CapabilityGroup" type="capabilityGroupType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parameterType" abstract="true">
		<xs:sequence>
			<xs:element name="Name" type="xs:NMTOKEN"/>
			<xs:element name="Type" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="controlled vocabulary"/>
						<xs:enumeration value="xml"/>
						<xs:enumeration value="text"/>
						<xs:enumeration value="URL"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="integer"/>
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="json"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Representation" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Unit" type="xs:string" minOccurs="0"/>
			<xs:element name="Definition" type="xs:string" minOccurs="0"/>
			<xs:element name="Comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mandatory" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="inputParameterType">
		<xs:complexContent>
			<xs:extension base="parameterType">
				<xs:sequence>
					<xs:element name="DefaultValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="outputParameterType">
		<xs:complexContent>
			<xs:extension base="parameterType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="capabilityGroupType" abstract="true"/>
	<xs:complexType name="capabilityType" abstract="true">
		<xs:sequence>
			<xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:union memberTypes="xs:anyURI xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Type" type="xs:anyURI"/>
			<xs:element name="Unit" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- generic capabilities and groups -->
	<xs:complexType name="genericCapabilityType">
		<xs:complexContent>
			<xs:extension base="capabilityType">
				<xs:attribute name="type" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="genericCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="genericCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- specific capabilities and groups -->
	<xs:complexType name="textCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textFormatCapabilityType">
		<xs:complexContent>
			<xs:restriction base="textCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="https://www.iana.org/assignments/media-types/media-types.xhtml"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/format/text"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textEncodingCapabilityType">
		<xs:complexContent>
			<xs:restriction base="textCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="https://www.iana.org/assignments/character-sets/character-sets.xhtml"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/codec/textencoding"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textLanguageCapabilityType">
		<xs:complexContent>
			<xs:restriction base="textCapabilityType">
				<xs:sequence>
					<xs:element name="Value" maxOccurs="2">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="urn:iso:std:iso:639:-1"/>
								<xs:enumeration value="urn:iso:std:iso:639:-2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/text/language"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textScriptCapabilityType">
		<xs:complexContent>
			<xs:restriction base="textCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:iso:std:iso:15924"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/text/script"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textMinSizeCapabilityType">
		<xs:complexContent>
			<xs:restriction base="textCapabilityType">
				<xs:sequence>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/text/minSize"/>
					<xs:element name="Unit" type="xs:string" minOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="imageCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="imageFormatCapabilityType">
		<xs:complexContent>
			<xs:restriction base="imageCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:ebu:metadata-cs:FileFormatCS_2010"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/format/image"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="imageCodecCapabilityType">
		<xs:complexContent>
			<xs:restriction base="imageCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="tbd"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/codec/image"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="videoCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="videoFormatCapabilityType">
		<xs:complexContent>
			<xs:restriction base="videoCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:ebu:metadata-cs:FileFormatCS_2010"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/format/video"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="videoCodecCapabilityType">
		<xs:complexContent>
			<xs:restriction base="videoCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:ebu:metadata-cs:VideoCompressionCodeCS"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/codec/video"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="parameterCapabilityBaseType" abstract="true">
		<xs:complexContent>
			<xs:restriction base="capabilityType">
				<xs:sequence>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/parameter"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="parameterCapabilityType">
		<xs:complexContent>
			<xs:extension base="parameterCapabilityBaseType">
				<xs:sequence>
					<xs:element name="Formats" minOccurs="1">
						<xs:simpleType>
							<xs:union memberTypes="xs:anyURI xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Representations" minOccurs="0">
						<xs:simpleType>
							<xs:union memberTypes="xs:anyURI xs:string"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="parameter" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resultCapabilityType">
		<xs:complexContent>
			<xs:extension base="parameterCapabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="inputCapabilityType">
		<xs:complexContent>
			<xs:extension base="parameterCapabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="isUpdatableCapabilityType">
		<xs:complexContent>
			<xs:restriction base="capabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="boolean"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/training/isupdatable"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="contentTypeCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="modalityCapabilityType">
		<xs:complexContent>
			<xs:restriction base="contentTypeCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:mpeg:mpeg7:cs:ContentCS:2001"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/modalities"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="audioCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="audioFormatCapabilityType">
		<xs:complexContent>
			<xs:restriction base="audioCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:ebu:metadata-cs:FileFormatCS_2010"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/format/audio"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="audioCodecCapabilityType">
		<xs:complexContent>
			<xs:restriction base="audioCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:anyURI" fixed="urn:ebu:metadata-cs:AudioCompressionCodeCS"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/codec/audio"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="audioLanguageCapabilityType">
		<xs:complexContent>
			<xs:restriction base="audioCapabilityType">
				<xs:sequence>
					<xs:element name="Value" maxOccurs="2">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="urn:iso:std:iso:639:-1"/>
								<xs:enumeration value="urn:iso:std:iso:639:-2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/audio/language"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="detectionCapabilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="capabilityType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="minDetectionSizeCapabilityType">
		<xs:complexContent>
			<xs:restriction base="detectionCapabilityType">
				<xs:sequence>
					<xs:element name="Value" type="xs:string" fixed="integer"/>
					<xs:element name="Type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/audio/language"/>
					<xs:element name="Unit" type="xs:string" fixed="pixels"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="textCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="textCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/text"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="audioCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="audioCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/audio"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="formatCapabilityType">
		<xs:complexContent>
			<xs:extension base="capabilityType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="inputFormatCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="formatCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/inputformat"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resultCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="resultCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/result"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="inputCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="inputCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/input"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="trainingCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="isUpdatableCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/training"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="detectionCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="detectionCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/detection"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="contentTypeCapabilityGroupType">
		<xs:complexContent>
			<xs:extension base="capabilityGroupType">
				<xs:sequence>
					<xs:element name="Capability" type="contentTypeCapabilityType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:anyURI" fixed="http://ebu.io/fims/ame/capabilities/contentType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
